span {
	margin-right: 20px;
}

p {
	margin: 0;
}

.left {
	height: 650px;
	width: 10%;
	float: left;
	margin-right: 20px;
	background-color: skyblue;
	text-align: center;
}

h2 {
	margin-top: 50px;
	color: white;
}

.title {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
}

.label {
	font-weight: bold;
	margin: 10px 0 0 0 ;
}